<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de veterinario registrado</title>
</head>
<body>
    <h1>Detalle del empleado a cargo</h1>

    <div>
        <div>ID:<span>{{veterinario.id}}</span></div>
        <div>Nombre:<span>{{veterinario.nombre}}</span></div>
        <div>Colegiado:<span>{{veterinario.colegiado}}</span></div>
        <div>Especialidad:<span>{{veterinario.especialidad}}</span></div>
        <div>Teléfono:<span>{{veterinario.telefono}}</span></div>

    <br>

    <a href="/veterinarios">Volver a la lista de empleados</a>
    
</body>
</html>