<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de mascota registrada</title>
</head>
<body>
    <h1>Detalle de la mascota</h1>

    <div>
        <div>ID:<span>{{mascota.id}}</span></div>
        <div>Nombre:<span>{{mascota.nombre}}</span></div>
        <div>Especie:<span>{{mascota.especie}}</span></div>
        <div>Raza:<span>{{mascota.raza}}</span></div>
        <div>Fecha de nacimiento:<span>{{mascota.fecha_nacimiento}}</span></div>
        <div>Chip:<span>{{mascota.chip}}</span></div>

    <br>

    <a href="/mascotas">Volver a la lista de mascotas</a>
    
</body>
</html>